<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devour}}">
            {{#if devour}}Yummy!{{else}}EAT ME!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">Delete burger</button>
</li>